@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
h1,
h2,
h3,
p,
ul,
li,
button,
span,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img,
svg,
div {
  display: block;
}

body {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.04em;
  background-color: var(--white-color);
  color: var(--black-color);
}

:root {
  --bgcon-color: #1789ed;
  --bgfoo1-color: #8cc4e7;
  --ttrev-color: #002d53;
  --brdr-color: #7538ff;
  --yellou-color: #fdc812;
  --sgntr-color: #ea557b;
  --span-color: #260e4d;
  --name-color: #fa3465;
  --blue-color: #0088fe;
  --prfctxt-color: #22303b;
  --red-color: #f93264;
  --link-color: #595858;
  --endtxt-color: #00213c;
  --sltxt-color: #152836;
  --white-color: #ffffff;
  --black-color: #000000;
  --shadtitle-color: #1c2d59;
  --bg-color: rgba(255, 245, 246, 1);
  --cntnt-color: rgba(212, 20, 67, 1);
  --abttl-color: #ffa5ba;
  --abprvw-color: #d41443;
  --abtxt-color: #907e82;
  --advbg-color: #fff5f6;
  --bgheher-color: #ffb8ca;
  --ttlhh-color: #ffffff;
  --bgfcs-color: #ecebeb;
  --bgcf-color: #f0d1a5;
  --bgfd-color: #c2e297;
  --bgbtn-color: #d41342;
  --bglnk-color: #fea5bb;
  --bgsgntr-color: #fafafa;
  --bgscrll-color: rgba(88%, 47%, 57%, 0.6);
  --h1-color: rgba(255, 255, 255, 0.7);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px;
  padding: 0 !important;
  overflow: hidden;
  border: 0 !important;
  clip: rect(0 0 0 0);
}

.button {
  /* height: 44px;
  width: 161.5px;
  border-radius: 22px;*/
  cursor: pointer;
}

.container {
  width: 375px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/*.backdrop */
.modal {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 320px;
  padding: 40px;
  background-color: rgb(230, 116, 116);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 40%;
    left: 20%;
  }
}
.modal__button {
  position: absolute;
  list-style: none;
  border: none;
  padding: 0;
  top: 8px;
  left: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.modal__button:hover, .modal__button:focus {
  fill: rgb(236, 225, 225);
  background-image: url(../images/symbol-defs.svg#icon-closem) no-repeat;
}

/*.backdrop*/
/*.modal*/
textarea {
  resize: none;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.form__input {
  outline: none;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 10px 20px 10px 40px;
  border: 1px solid rgb(92, 89, 89);
  border-radius: 4px;
  max-height: 40px;
}
.form__input:focus ~ .form__icon {
  fill: rgb(59, 106, 194);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border: 1px solid rgb(59, 106, 194);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__label {
  top: 30%;
  left: 30px;
  margin-bottom: 2px;
  transform: translateY(-10%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(92, 89, 89);
}
.form__leave {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: rgb(92, 89, 89);
}
.form__icon {
  position: absolute;
  top: 65%;
  left: 12px;
  bottom: 4px;
  fill: currentColor;
  transform: translateY(-50%);
  display: inline-block;
}
.form__comment {
  display: inline-block;
  outline: none;
  margin: 0;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid;
  border-radius: 4px;
}
.form__comment:hover, .form__comment:focus {
  border: 1px solid rgb(59, 106, 194);
}
.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 16px;
  height: 15px;
}
.form__checkbox:checked + .form__icon-check {
  border-color: rgb(59, 106, 194);
  background-image: url(/images/checkm.svg);
  background-size: contain;
  background-origin: border-box;
  cursor: pointer;
  transition: border-color, background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox:hover, .form__checkbox:focus {
  border-color: rgb(59, 106, 194);
}
.form__check {
  display: flex;
  align-items: center;
  outline: none;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgb(92, 89, 89);
}
.form__condition {
  margin-left: 7px;
  color: rgb(59, 106, 194);
}
.form__icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(43, 31, 31);
  border-radius: 2px;
  margin-right: 7px;
}
.form__button-send {
  position: relative;
  left: 70px;
  margin: 0;
  top: 5px;
  cursor: pointer;
  padding: 2px 10px;
  display: inline-block;
  background-color: rgba(224, 120, 145, 0.6);
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .form__button-send {
    left: 150px;
  }
}
.form__button-send:hover, .form__button-send:focus {
  box-shadow: 4px 4px 4px 4px rgba(128, 26, 26, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  right: 10;
  width: 100vw;
  height: 70vh;
  padding: 23px 21px;
  padding-top: 60px;
  background: linear-gradient(#f4ff99 0% 50%, #cfe2f3 50% 100%);
  z-index: 9;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(10%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
  position: absolute;
  left: 28px;
  top: 23px;
  z-index: 9;
  border: none;
  background-color: #f4ff99;
}
.menu-toggle--icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
}

.mobile-menu {
  margin-top: 32px;
  border-bottom: 1px solid #e18298;
  /*&__button--order {
      margin-left: auto;
      margin-right: auto;
      width: 209px;
      height: 44px;
      background: #ffffff;
      border-radius: 22px;
      border: none;
      font-family: DM Sans;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #d41443;
  }
  &__button--order-icon {
      margin-left: 14px;
  }*/
  /*&__item:not(:last-child) {
      margin-bottom: 23px;
  }*/
}
.mobile-menu__button {
  background-color: --white-color;
  border: none;
}
@media screen and (min-width: 1200px) {
  .mobile-menu__button {
    display: none;
    fill: currentColor;
  }
}
.mobile-menu__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: var(--link-color);
}
.mobile-menu__item {
  width: 100%;
  border-top: 1px solid #e18298;
}
.mobile-menu__item--title {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 120px;
  color: var(--title);
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.mobmodal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 15;
  /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 80vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow-y: scroll;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
@media screen and (min-width: 768px) {
  .mobmodal {
    width: 40vw;
    height: 60vh;
    left: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .mobmodal {
    width: 300px;
    height: 700px;
    top: 50px;
    left: 150px;
  }
}

/* Modal Content */
.mobmodal-content {
  position: relative;
  z-index: 15;
  overflow-y: scroll;
  background-color: #ffb8ca;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #888;
  width: 80vw;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .mobmodal-content {
    width: 40vw;
    height: 60vh;
  }
}
@media screen and (min-width: 1200px) {
  .mobmodal-content {
    width: 300px;
    height: 700px;
  }
}

/* The Close Button */
.closebtn {
  color: #aaaaaa;
}

.closebtn:hover,
.closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.wrapper {
  background-color: #ffb8ca;
  padding: 0 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 5px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 5px;
  display: block;
}

.icon-container {
  margin-bottom: 10px;
  padding: 5px 0;
  font-size: 12px;
}

.check {
  width: 20px;
  height: 20px;
}

.btn {
  position: relative;
  margin-top: 20px;
  left: 85px;
  background-color: #cf5271;
  color: white;
  padding: 5px;
  border: none;
  width: 60%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 22px;
}

.btn:hover {
  background-color: #d10c3d;
}

/*a {
    color: #2196f3;
}*/
hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 5px;
  }
}
.link {
  width: 105px;
  height: 24px;
  font-size: 12px;
  line-height: 17px;
  padding: 3px 15px;
  color: var(--white-color);
  background-color: var(--red-color);
}

.header {
  padding-top: 31px;
  padding-bottom: 5px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__honors {
  display: flex;
}
.header__btn {
  border: none;
  background-color: var(--white-color);
  /*display: flex;
  @media screen and (min-width: 1200px) {
      display: none;
  }
  @media screen and (min-width: 768px) {
      margin-left: 291px;
      background-color: transparent;
  }

  background-color: var(--white-color);*/
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header__nav {
    margin-bottom: 84px;
  }
}
.header__nav--list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__nav--list {
    display: flex;
  }
}
.header__nav--item:not(:last-child) {
  margin-right: 35px;
}
.header__nav--link {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: var(--white-color);
}
.header__nav--link:hover,
.header__nav :focus {
  color: var(--abprvw-color);
  background-color: var(--bgheher-color);
}
.header__navbtn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__navbtn {
    margin-left: 30px;
    width: 160px;
    height: 44px;
    background: var(--white-color);
    border-radius: 22px;
    border: none;
    font-family: DM Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--abprvw-color);
  }
}
@media screen and (min-width: 1200px) {
  .header__navbtn {
    width: 160px;
    margin-left: 0;
    margin-right: 78px;
  }
}
.header__navbtn :hover,
.header :focus {
  color: var(--abprvw-color);
  background-color: var(--bgfcs-color);
}
@media screen and (min-width: 768px) {
  .header__filter {
    margin-bottom: 66px;
  }
}
@media screen and (min-width: 1200px) {
  .header__filter {
    margin-left: 78px;
  }
}

.hero {
  padding-top: 46px;
  padding-bottom: 101px;
  width: 375px;
}
.hero__tit {
  margin-top: 120px;
  color: red;
}
.hero__overlay {
  margin: 0 auto;
  background-image: url(../images/mob/panelhoum.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.hero__overlay-cont {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 140px;
  left: 10px;
  background-image: url(../images/mob/sun1.jpg);
  background-repeat: no-repeat;
  opacity: 0.5;
  animation: animateX25 30000ms infinite 5000ms;
}
@keyframes animateX25 {
  0% {
    transform: translate 0, 0;
  }
  15% {
    transform: translate(125px, -50px);
  }
  30% {
    transform: translate(200px, -100px);
  }
  45% {
    transform: translate(250px, -125px);
  }
  60% {
    transform: translate(280px, -100px);
  }
  75% {
    transform: translate(290px, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.hero__container {
  position: relative;
  text-align: center;
  width: 306px;
  margin-left: 33px;
  /* &::after {
    position: absolute;
    content: "";
    width: 55px;
    height: 31px;
    right: 10px;
    bottom: -104px;
   // background-image: url(../images/icons/MaskGroupm.svg);
    background-repeat: no-repeat;
  }
  &::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 31px;
    right: 10px;
    bottom: -80px;
   // background-image: url(../images/icons/MaskGrouptopm.svg);
    background-repeat: no-repeat;
  }*/
}
.hero__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--h1-color);
  -webkit-text-fill-color: transparent;
  text-shadow: 0 -16px 0 var(--shadtitle-color);
  margin-bottom: 13px;
}
.hero__title--end {
  font-weight: 600;
  font-size: 16px;
  line-height: 116%;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 39px;
}
.hero__slogan {
  font-family: "Arima", system-ui;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: chartreuse;
  margin-bottom: 15px;
}
.hero__slogan::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 16px;
  top: 190px;
  left: -8px;
  background: url(../images/mob/quote.svg);
}
.hero__call {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: chartreuse;
  margin-bottom: 22px;
}
.hero__list {
  position: relative;
  left: 108px;
  bottom: -65px;
  display: flex;
}
.hero__link {
  font-size: 12px;
  line-height: 17px;
  padding: 3px 15px;
  color: var(--link-color);
  background-color: var(--white-color);
  border-radius: 4px;
}
.hero__link--red {
  height: 24px;
  color: var(--white-color);
  background-color: var(--red-color);
}

/*.container {
    padding-bottom: 40px;
}*/
.filter__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--h1-color);
  -webkit-text-fill-color: transparent;
  text-shadow: 0 -16px 0 var(--shadtitle-color);
  margin-bottom: 13px;
}
.filter__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: -15px;
  margin-left: -8px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 40px;
  }
}
.filter__list--btn {
  margin-left: 8px;
  margin-top: 15px;
}
.filter__list--button {
  min-width: 73px;
  list-style: none;
  border-radius: 5px;
  padding: 6px 22px;
  font: inherit;
  color: var(--abprvw-color);
  background-color: var(--advbg-color);
  font-weight: 500;
  font-size: 11px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__list--button:hover, .filter__list--button:focus {
  background-color: var(--accent-color);
  box-shadow: 5px 5px 5px 5px var(--gray-color);
  color: var(--white-color);
}

/*@import "./layout/about";
@import "./layout/advantages";
@import "./layout/continuation";
@import "./layout/biography";*/
.documents {
  padding-top: 63px;
  padding-bottom: 82px;
  width: 375px;
  /*&__image {
    position: absolute;
    left: 25px;
  }*/
  /*&__title {
    justify-items: center;
    margin-bottom: 20px;
  }*/
}
.documents__container {
  text-align: center;
  padding: 0;
}

/*@import "./layout/course";
@import "./layout/gallery";
@import "./layout/reviews";
@import "./layout/feedback";*/
#scrollup.mgray {
  background: var(--bgscrll-color);
  border-radius: 0;
  color: var(--white-color);
}

#scrollup {
  z-index: 11;
  cursor: pointer;
  position: fixed;
  display: none;
  bottom: 15px;
  right: 130px;
  height: 40px;
  width: 40px;
  line-height: 35px;
  transition: transform 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media screen and (min-width: 768px) {
  #scrollup {
    right: 120px;
  }
}

.i-icon {
  vertical-align: middle;
  display: inherit;
  padding: 10px;
}

.i-icon::before {
  content: url(./images/icscrollup.png);
  width: 20px;
  height: 20px;
  border: 2px black solid;
}

/* The Modal (background) */
.modalbuy {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 12;
  /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow-y: scroll;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modalbuy-content {
  position: relative;
  z-index: 13;
  overflow-y: auto;
  background-color: #ffb8ca;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #888;
  width: 100%;
  height: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.wrapper {
  background-color: #ffb8ca;
  padding: 0 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 5px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 5px;
  display: block;
}

.icon-container {
  margin-bottom: 10px;
  padding: 5px 0;
  font-size: 12px;
}

.btn {
  position: relative;
  left: 85px;
  background-color: #cf5271;
  color: white;
  padding: 5px;
  border: none;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}

.btn:hover {
  background-color: #d10c3d;
}

/*a {
    color: #2196f3;
}*/
hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 5px;
  }
}
/*.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .kodal {
    transform: translate(-50%, -50%) scale(0.9);
}*/
/*контент */
/*.kodal {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 350px;
    height: 481px;
    padding: 50px 20px;
    border-radius: 20px;
    background-color: var(--bg-color);
   // @media screen and (min-width: 768px) {
        left: 30%;
        transform: translate(-50%, -65%) scale(1);
    }
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__button {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 10px;
        top: 10px;
        opacity: 0.5;
        background-color: var(--cntnt-color);
        border: none;
    }
    &__contacts {
        padding-top: 10px;
    }
    &__leave {
        font-size: 20px;
        line-height: 1.15;
        color: var(--white-color);
        text-align: center;
        margin-bottom: 30px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__image {
        width: 100px;
    }
    &__name {
        font-size: 24px;
        line-height: 1.15;
        font-weight: bold;
        color: var(--white-color);
        opacity: 0.6;
        text-align: center;
        margin-top: 15px;
    }
    &__contact {
        font-size: 20px;
        line-height: 1.15;
        font-weight: bold;
        color: var(--text-color);
        padding-top: 25px;
    }
    &__itm--phone {
        margin-bottom: 15px;
    }
}*/
/*@media screen and (min-width: 768px) {
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 10px;
  }
  &__wrap {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__wrapp {
    @media screen and (min-width: 768px) {
      padding-bottom: 120px;
    }
    @media screen and (min-width: 1200px) {
      padding-bottom: 106px;
    }
  }
  &__pre-title {
    margin-bottom: 17px;
    font-family: Titan One;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--abttl-color);
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 16px;
    }
  }
  &__pre-title--span {
    display: block;
    @media screen and (min-width: 1200px) {
      margin-left: 10px;
    }
  }
  &__title {
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 55px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: 66px;
      display: flex;
    }
    margin-bottom: 43px;
    font-family: Titan One;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--abprvw-color);
    &--span {
      @media screen and (min-width: 1200px) {
        margin-left: 16px;
      }
      display: block;
    }
  }
  &__network {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 43px;
    @media screen and (min-width: 768px) {
      margin-bottom: 46px;
    }
    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--bglnk-color);
    }
    &--link:hover,
    &--link:focus {
      background-color: var(--abprvw-color);
    }
    &--link-icon {
      width: 19px;
      height: 19px;
    }
  }
  &__network--item:not(:last-child) {
    margin-right: 28px;
  }
  &__contact {
    min-width: 280px;
    height: 22px;
    margin-bottom: 65px;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    text-align: right;
    color: var(--black-color);
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  &__contact-tel {
    color: var(--abprvw-color);
    text-decoration: none;
  }
  &__copyrigt::before {
    position: absolute;
    bottom: 89px;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 0.5px;
    background-color: var(--brdr-color);
    @media screen and (min-width: 768px) {
      bottom: 73px;
    }
    @media screen and (min-width: 768px) {
      bottom: 45px;
    }
  }
  &__copyrigt {
    font-family: DM Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    color: var(--abtxt-color);
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      line-height: 186%;
    }
  }
  &__copyrigt--span {
    display: block;
  }
}*/
.btntel {
  position: fixed;
  z-index: 5;
  bottom: 50px;
  left: 50px;
}
@media screen and (min-width: 1200px) {
  .btntel {
    bottom: 100px;
    left: 250px;
  }
}
.btntel__phone {
  animation-name: animate1;
  animation-duration: 190ms;
  animation-timing-function: linear;
  animation-delay: 100ms;
  animation-iteration-count: 2;
  animation-direction: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid var(--cntnt-color);
  background-color: var(--bg-color);
  cursor: pointer;
  opacity: 0.6;
}

@keyframes animate1 {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=main.css.map */