.documents{
   padding-top: 63px;
  padding-bottom: 82px;
  width: 375px;
   &__container{
    //position: relative;
      text-align: center;
      padding: 0;
       }
  /*&__image {
    position: absolute;
    left: 25px;
  }*/
  /*&__title {
    justify-items: center;
    margin-bottom: 20px;
  }*/
 }
