.equipment {
  padding-top: 63px;
  padding-bottom: 82px;
  width: 375px;
  background-color: var(--h1-color);

  &__container {
    //position: relative;
    text-align: center;
    padding: 0;
  }

  /*&__image{
    position: absolute;
    left: 25px;}*/
  &__img {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    justify-items: center;
    margin-bottom: 40px;
  }

  &__text {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.04em;
    background-color: var(--white-color);
    color: var(--black-color);

    &-span {
      width: 320px;
      font-style: italic;
      color: var(--blue-color);
      background-color: var(--bgfcs-color);
      margin: 10px auto;

      &::before {
        content: " ";
        position: absolute;
        width: 20px;
        height: 20px;
        top: inherit;
        left: 15px;
        background-image: url(../images/mob/bluquote.svg);
        background-repeat: no-repeat;

      }



    }
  }


}