.header {
    padding-top: 31px;
    padding-bottom: 5px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    &__rotate {
        position: absolute;
        animation: rotateAnimation 20s linear infinite;

        @keyframes rotateAnimation {
            from {
                transform: rotate(0deg);
            }


            to {
                transform: rotate(360deg);
            }
        }
    }


    &__honors {
        display: flex;
    }

    &__btn {
        position: absolute;
        width: 26px;
        height: 10px;
        right: 105px;
        top: 40px;
        border: none;


        @media screen and (min-width: 1200px) {
            display: none;
        }

        @media screen and (min-width: 768px) {
            margin-left: 291px;
            background-color: transparent;
        }

        background-color: var(--white-color);

    }

    &__nav {
        display: flex;

        @media screen and (min-width: 1200px) {
            margin-bottom: 84px;
        }

        justify-content: space-between;
        align-items: center;

        &--list {
            display: none;

            @media screen and (min-width: 1200px) {
                display: flex;
            }
        }

        &--item:not(:last-child) {
            margin-right: 35px;
        }

        &--link {
            font-family: DM Sans;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: var(--white-color);
        }

        &--link:hover,
        :focus {
            color: var(--abprvw-color);
            background-color: var(--bgheher-color);
        }
    }

    &__navbtn {
        @media screen and (min-width: 768px) {
            margin-left: 30px;
            width: 160px;
            height: 44px;
            background: var(--white-color);
            border-radius: 22px;
            border: none;
            font-family: DM Sans;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--abprvw-color);
        }

        @media screen and (min-width: 1200px) {
            width: 160px;
            margin-left: 0;
            margin-right: 78px;
        }

        display: none;
    }

    &__navbtn :hover,
    :focus {
        color: var(--abprvw-color);
        background-color: var(--bgfcs-color);
    }

    &__filter {
        @media screen and (min-width: 768px) {
            margin-bottom: 66px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 78px;
        }
    }
}