.menu-container {
    position: fixed;
    top: 0;
    right: 10;
    width: 100vw;
    height: 70vh;
    padding: 23px 21px;
    padding-top: 60px;
        background: linear-gradient(#f4ff99 0% 50%,#cfe2f3 50% 100%);
    
    z-index: 9;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translateX(10%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
    position: absolute;
    left: 28px;
    top: 23px;
    z-index: 9;
        border:none;
        background-color: #f4ff99;
    &--icon {
            display: inline-block;
            //width: 1em;
            //height: 1em;
            //stroke-width: 20px;
            stroke:currentColor;
            fill:currentColor ;
            
        }
}

.mobile-menu {
    margin-top: 32px;
    border-bottom: 1px solid #e18298;
    &__button {
        background-color: (--white-color);
        border: none;
        @media screen and (min-width: 1200px) {
            display: none;
            fill: currentColor;
        }
    }
    &__button--order {
        margin-left: auto;
        margin-right: auto;
        width: 209px;
        height: 44px;
        background: #ffffff;
        border-radius: 22px;
        border: none;
        font-family: DM Sans;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #d41443;
    }
    &__button--order-icon {
        margin-left: 14px;
    }
    &__link {
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        font-family: DM Sans;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color:var(--link-color);
    }
    &__item {
        width: 100%;
        border-top: 1px solid #e18298;
        &--title{
            //margin-left: 120px;
            padding-top: 12px;
                padding-bottom: 12px;
                padding-left: 120px;
            color: var(--title);
            font-family: DM Sans;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
            
        }
    }
    /*&__item:not(:last-child) {
        margin-bottom: 23px;
    }*/
}